<h2 class="ls-login-logo">
  <%= t('.sign_up_title') %>
</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name),
             class: 'ls-form ls-login-form') do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

   <fieldset>
    <div class="ls-label">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        class: 'ls-login-bg-user ls-field-lg' %>
    </div>

    <div class="ls-label">
      <%= f.label :password, t('.password') %>
      <% if @minimum_password_length %>
      <em><%= t('.minimum_char') %>: <%= @minimum_password_length %></em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password",
                           class: 'ls-login-bg-user ls-field-lg' %>
    </div>

    <div class="ls-label">
      <%= f.label :password_confirmation, t('.password_confirmation') %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password",
                           class: 'ls-login-bg-user ls-field-lg' %>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: 'ls-btn-primary ls-btn-block ls-btn-lg' %>
    </div>
  </fieldset>
<% end %>

<%= render "devise/shared/links" %>
