<main class="ls-main ">
    <div class="container-fluid">
      <h1 class="ls-title-intro ls-ico-book"><%= t('.title') %></h1>

      <div class="ls-alert-danger"><%= alert %></div>
      <div class="ls-alert-success"><%= notice %></div>

      <table class="ls-table ls-bg-header">
        <thead>
          <tr>
            <th><%= t('.title_movie') %></th>
            <th class="hidden-xs"><%= t('.title_chapter') %></th>
            <th><%= t('.title_director') %></th>
            <th class="hidden-xs"><%= t('.title_year') %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @movies[:results].each_index do |indice| %>
            <tr>
              <td>
                <%= @movies[:results][indice][:title] %>
              </td>
              <td class="hidden-xs">
                <%= @movies[:results][indice][:episode_id] %>
              </td>
              <td>
                <%= @movies[:results][indice][:director] %>
              </td>
              <td class="hidden-xs">
                <%= @movies[:results][indice][:release_date] %>
              </td>
              <td id=<%= "movie-like-#{indice}" %>>
                <% if Like.repeated_movie?(user_id: current_user.id, episode_id: 
                                           @movies[:results][indice][:episode_id]) %>
                  <%= link_to 'Like', like_path(id: current_user.id, episode_id:
                                                @movies[:results][indice][:episode_id]),
                                                method: :delete,
                                                class: 'ls-ico-checkmark' %>
                <% else %>
                  <%= link_to 'Like', 
                              likes_path(episode_id: @movies[:results][indice][:episode_id], 
                                         user_id: current_user.id), 
                              method: :post, class: 'ls-ico-thumbs-up' %>
                <% end %>
              </td>
              <td class="hidden-xs" id=<%= "movie-dislike-#{indice}" %>>
                <% if Dislike.repeated_movie?(user_id: current_user.id, episode_id: 
                                              @movies[:results][indice][:episode_id]) %>
                <%= link_to 'Dislike', dislike_path(id: current_user.id, episode_id:
                                                    @movies[:results][indice][:episode_id]),
                                                    method: :delete,
                                                    class: 'ls-ico-checkmark' %>
                <% else %>
                <%= link_to 'Dislike',
                            dislikes_path(episode_id: @movies[:results][indice][:episode_id], 
                                          user_id: current_user.id), 
                            method: :post, class: 'ls-ico-thumbs-up2' %>
                <% end %>
              </td>      
            </tr>
          <% end %>
        </tbody>
      </table>
        <br>
        <div class="ls-alert-warning ls-dismissable">
          <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
            - <%= t('.msg_maximum_likes') %> <br>
            - <%= t('.msg_repeated_movie') %>
        </div>
        <br>
    </div>
</main>