<main class="ls-main ">
    <div class="container-fluid">
      <h1 class="ls-title-intro ls-ico-book"><%= t('.title') %></h1>

      <div class="ls-alert-danger"><%= alert %></div>
      <div class="ls-alert-success"><%= notice %></div>

      <table class="ls-table ls-bg-header">
        <thead>
          <tr>
            <th><%= t('.title_movie') %></th>
            <th class="hidden-xs"><%= t('.title_chapter') %></th>
            <th><%= t('.title_director') %></th>
            <th class="hidden-xs"><%= t('.title_year') %></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @movies[:results].each do |movie| %>
            <tr>
              <td><a href="" title=""><%= movie[:title] %></a></td>
              <td class="hidden-xs"><%= movie[:episode_id] %></td>
              <td><%= movie[:director] %></td>
              <td class="hidden-xs"><%= movie[:release_date] %></td>
              <td>
                <%= link_to '', likes_path(episode_id: movie[:episode_id], 
                                           user_id: current_user.id), method: :post, 
                                           class: 'ls-ico-thumbs-up' %>
              </td>
              <td class="hidden-xs">
                <%= link_to '', dislikes_path(episode_id: movie[:episode_id], 
                                              user_id: current_user.id), method: :post, 
                                              class: 'ls-ico-thumbs-up2' %>
              </td>      
            </tr>
          <% end %>
        </tbody>
      </table>
        <br>
        <div class="ls-alert-warning ls-dismissable">
          <span data-ls-module="dismiss" class="ls-dismiss">&times;</span>
            - <%= t('.msg_maximum_likes') %> <br>
            - <%= t('.msg_repeated_movie') %>
        </div>
        <br>
    </div>
</main>