<!DOCTYPE html>
<html class="ls-theme-dark-green">
  <head>
    <title>Movies</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="//assets.locaweb.com.br/locastyle/3.10.1/stylesheets/locastyle.css">
  </head>

  <body>

    <!-- TOPBAR -->
    <div class="ls-topbar ">

    <!-- Barra de Notificações -->
    <div class="ls-notification-topbar">

      <!-- Dropdown com detalhes da conta de usuário -->
      <div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
        <a href="#" class="ls-ico-user">
          <span class="ls-name">João Kennedy</span>
          (johnkennedy)
        </a>

        <nav class="ls-dropdown-nav ls-user-menu" aria-hidden="true">
          <ul>
            <li><a href="#" role="option">Meus dados</a></li>
            <li><a href="#" role="option">Faturas</a></li>
            <li><a href="#" role="option">Planos</a></li>
            <li><a href="#" role="option">Sair</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <span class="ls-show-sidebar ls-ico-menu"></span>

    <a href="/locawebstyle/documentacao/exemplos/painel2/pre-painel" class="ls-go-next"><span class="ls-text">Voltar à lista de serviços</span></a>

    <!-- Nome do produto/marca com sidebar -->
      <h1 class="ls-brand-name">
        <a href="home" class="ls-ico-earth">
          <small>Uma descrição ou outro nome</small>
          O nome do Produto
        </a>
      </h1>

      <!-- Nome do produto/marca sem sidebar quando for o pre-painel  -->
    <span class="ls-show-notifications ls-ico-question"></span></div>
    <!-- FIM TOPBAR -->




    <!-- SIDEBAR -->
    <aside class="ls-sidebar"><div data-ls-module="dropdown" class="ls-dropdown ls-user-account">
      <a href="#" class="ls-ico-user">
        <span class="ls-name">João Kennedy</span>
        (johnkennedy)
      </a>

      <nav class="ls-dropdown-nav ls-user-menu" aria-hidden="true">
        <ul>
          <li><a href="#" role="option">Meus dados</a></li>
          <li><a href="#" role="option">Faturas</a></li>
          <li><a href="#" role="option">Planos</a></li>
          <li><a href="#" role="option">Sair</a></li>
         </ul>
      </nav>
    </div>

    <div class="ls-sidebar-inner">
      <a href="/locawebstyle/documentacao/exemplos/painel2/pre-painel" class="ls-go-prev"><span class="ls-text">Voltar à lista de serviços</span></a>
      <nav class="ls-menu" role="navigation">
        <ul role="menu">
          <li><a href="/locawebstyle/documentacao/exemplos/painel2/home" class="ls-ico-dashboard" role="menuitem">Dashboard</a></li>
          <li class="ls-submenu-parent" aria-expanded="false" aria-hidden="true">
            <a href="#" class="ls-ico-stats" role="menuitem">Relatórios</a>
            <ul class="ls-submenu" role="menu">
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/resume" class="ls-submenu-item" role="menuitem">Resumo</a></li>
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/openings" class="ls-submenu-item" role="menuitem">Aberturas</a></li>
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/bounces" class="ls-submenu-item" role="menuitem">Bounces</a></li>
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/complaints" class="ls-submenu-item" role="menuitem">Denúncias</a></li>
            </ul>
          </li>
          <li><a href="/locawebstyle/documentacao/exemplos/painel2/reputation" class="ls-ico-trophy" role="menuitem">Reputação</a></li>
          <li class="ls-submenu-parent" aria-expanded="false" aria-hidden="true">
            <a href="#" class="ls-ico-cog" title="Configurações" role="menuitem">Configurações</a>
            <ul class="ls-submenu" role="menu">
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/config-server" class="ls-submenu-item" role="menuitem">Dados do Servidor SMTP</a></li>
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/config-email" class="ls-submenu-item" role="menuitem">E-mail de remetente</a></li>
              <li><a href="/locawebstyle/documentacao/exemplos/painel2/config-excess" class="ls-submenu-item" role="menuitem">Envios excedentes</a></li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>

    <span class="ls-sidebar-toggle ls-ico-shaft-left"></span></aside>
    <!-- FIM SIDEBAR -->



    <!-- MAIN -->
    <main class="ls-main ">
    <div class="container-fluid">
      <h1 class="ls-title-intro ls-ico-dashboard">Dashboard</h1>

  <div class="ls-alert-box ls-dismissable" role="alert">
    <header class="ls-info-header">
      <span data-ls-module="dismiss" class="ls-dismiss">×</span>
      <h2 class="ls-title-3">Configuração do serviço</h2>
      <p>Utilize os seguintes dados para autenticação no serviço.</p>
    </header><!-- /header -->
  <h3 class="ls-title-5">Dados do servidor SMTP</h3>
  <table class="ls-table ls-table-striped">
    <tbody>
      <tr>
        <td><strong>Usuário: </strong> Teddy</td>
      </tr>
      <tr>
        <td>
          <strong>Senha: </strong>
          <input type="password" maxlength="20" id="password_field2" name="password" class="ls-no-style-input" value="testandosenha">
          <a class="ls-toggle-pass" data-target="#password_field2" href="#" data-toggle-text="Ocultar">Exibir</a> |
          <a href="#" data-ls-module="modal" data-target="#changePassword">Alterar</a>
        </td>
      </tr>
      <tr>
        <td><strong>Endereço de SMTP: </strong>smtp.dominio-smtp.dominio.com</td>
      </tr>
      <tr>
        <td><strong>Porta:</strong> 587| <strong>SSL/TLS:</strong> 465</td>
      </tr>
    </tbody>
  </table>
  <h3 class="ls-title-5">Documentação</h3>
  <p>Veja <a href="" title="">exemplos de código de implementação</a> em PHP, .NET, RUBY, Java entre outras linguagens.</p>
  <p>Saiba como <a href="" title="">configurar o SMTP no Outlook</a>.</p>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <h2 class="ls-title-3">Relatório diário</h2>
    <a href="/locawebstyle/documentacao/exemplos/painel2/stats" class="ls-btn ls-btn-sm">Ver relatórios</a>
  </header>

  <div id="sending-stats" class="row">
    <div class="col-sm-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Enviados</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>33</strong>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Entregues</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>27</strong>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Erros</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>16</strong>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Denúncias <a href="#" class="ls-ico-help" data-trigger="hover" data-ls-module="popover" data-placement="left" data-custom-class="ls-width-300" data-content="<p>Este número corresponde ao número de vezes que seus destinatários marcaram suas mensagens como spam. Essas denúncias podem comprometer a entregabilidade das suas próximas mensagens.</p>" data-target="#ls-popover-0"></a></h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>1</strong>
          </span>
        </div>
      </div>
    </div>

  </div>
  <hr class="ls-no-border">
  <div id="panel-charts-2" class="ls-clear-both" data-highcharts-chart="0" style="overflow: hidden;"><div id="highcharts-42b94hh-0" dir="ltr" class="highcharts-container " style="position: relative; overflow: hidden; width: 73px; height: 400px; text-align: left; line-height: normal; z-index: 0; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); user-select: none;"><svg version="1.1" class="highcharts-root" style="font-family:&quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif;font-size:12px;" xmlns="http://www.w3.org/2000/svg" width="73" height="400" viewBox="0 0 73 400"><desc>Created with Highcharts 8.2.2</desc><defs><clipPath id="highcharts-42b94hh-1-"><rect x="0" y="0" width="0" height="285" fill="none"></rect></clipPath></defs><rect fill="#ffffff" class="highcharts-background" x="0" y="0" width="73" height="400" rx="0" ry="0"></rect><rect fill="none" class="highcharts-plot-background" x="63" y="10" width="0" height="285"></rect><g class="highcharts-grid highcharts-xaxis-grid" data-z-index="1"><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 62.5 10 L 62.5 295" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 62.5 10 L 62.5 295" opacity="1"></path><path fill="none" data-z-index="1" class="highcharts-grid-line" d="M 62.5 10 L 62.5 295" opacity="1"></path></g><g class="highcharts-grid highcharts-yaxis-grid" data-z-index="1"><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 62.5 295.5 L 62.5 295.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 62.5 248.5 L 62.5 248.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 62.5 200.5 L 62.5 200.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 62.5 153.5 L 62.5 153.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 62.5 105.5 L 62.5 105.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 62.5 58.5 L 62.5 58.5" opacity="1"></path><path fill="none" stroke="#e6e6e6" stroke-width="1" data-z-index="1" class="highcharts-grid-line" d="M 63.5 9.5 L 63.5 9.5" opacity="1"></path></g><rect fill="none" class="highcharts-plot-border" data-z-index="1" x="63" y="10" width="0" height="285"></rect><g class="highcharts-axis highcharts-xaxis" data-z-index="2"><path fill="none" class="highcharts-axis-line" stroke="#ccd6eb" stroke-width="1" data-z-index="7" d="M 62.5 295.5 L 62.5 295.5"></path></g><g class="highcharts-axis highcharts-yaxis" data-z-index="2"><text x="23.875" data-z-index="7" text-anchor="middle" transform="translate(0,0) rotate(270 23.875 152.5)" class="highcharts-axis-title" style="color:#666666;fill:#666666;" y="152.5"><tspan>Quantidade</tspan></text><path fill="none" class="highcharts-axis-line" data-z-index="7" d="M 63 10 L 63 295"></path></g><path fill="none" class="highcharts-crosshair highcharts-crosshair-category undefined" data-z-index="2" stroke="rgba(204,214,235,0.25)" stroke-width="106" style="pointer-events:none;" visibility="hidden" d="M 751.5 10 L 751.5 317"></path><g class="highcharts-series-group" data-z-index="3"><g class="highcharts-series highcharts-series-0 highcharts-line-series highcharts-color-0" data-z-index="0.1" opacity="1" transform="translate(63,10) scale(1 1)" clip-path="url(#highcharts-42b94hh-1-)"><path fill="none" d="M 0 228 L 0 47.5 L 0 261.25 L 0 237.5 L 0 23.75 L 0 199.5 L 0 166.25 L 0 166.25" class="highcharts-graph" data-z-index="1" stroke="#25b799" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M 0 228 L 0 47.5 L 0 261.25 L 0 237.5 L 0 23.75 L 0 199.5 L 0 166.25 L 0 166.25" visibility="visible" data-z-index="2" class="highcharts-tracker-line" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(192,192,192,0.0001)" stroke-width="22"></path></g><g class="highcharts-markers highcharts-series-0 highcharts-line-series highcharts-color-0 highcharts-tracker" data-z-index="0.1" opacity="1" transform="translate(63,10) scale(1 1)"><path fill="#25b799" visibility="hidden" d="M 689 179.08333333333331 A 0 0 0 1 1 689 179.08333333333331 Z" class="highcharts-halo highcharts-color-0" data-z-index="-1" fill-opacity="0.25"></path><path fill="#25b799" d="M 689 185.08333333333331 A 6 6 0 1 1 689.005999999 185.08333033333358 Z" stroke="#ffffff" stroke-width="1" opacity="1" visibility="hidden"></path></g><g class="highcharts-series highcharts-series-1 highcharts-line-series highcharts-color-1" data-z-index="0.1" opacity="1" transform="translate(63,10) scale(1 1)" clip-path="url(#highcharts-42b94hh-1-)"><path fill="none" d="M 0 261.25 L 0 275.5 L 0 270.75 L 0 251.75 L 0 209 L 0 261.25 L 0 275.5 L 0 261.25" class="highcharts-graph" data-z-index="1" stroke="#d75452 " stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M 0 261.25 L 0 275.5 L 0 270.75 L 0 251.75 L 0 209 L 0 261.25 L 0 275.5 L 0 261.25" visibility="visible" data-z-index="2" class="highcharts-tracker-line" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(192,192,192,0.0001)" stroke-width="22"></path></g><g class="highcharts-markers highcharts-series-1 highcharts-line-series highcharts-color-1 highcharts-tracker" data-z-index="0.1" opacity="1" transform="translate(63,10) scale(1 1)"><path fill="#d75452 " visibility="hidden" d="M 689 296.76666666666665 A 0 0 0 1 1 689 296.76666666666665 Z" class="highcharts-halo highcharts-color-1" data-z-index="-1" fill-opacity="0.25"></path><path fill="#d75452 " d="M 689 290.76666666666665 L 695 296.76666666666665 L 689 302.76666666666665 L 683 296.76666666666665 Z" stroke="#ffffff" stroke-width="1" opacity="1" visibility="hidden"></path></g><g class="highcharts-series highcharts-series-2 highcharts-line-series highcharts-color-2" data-z-index="0.1" opacity="1" transform="translate(63,10) scale(1 1)" clip-path="url(#highcharts-42b94hh-1-)"><path fill="none" d="M 0 237.5 L 0 171 L 0 266 L 0 247 L 0 171 L 0 237.5 L 0 261.25 L 0 213.75" class="highcharts-graph" data-z-index="1" stroke="#428bca" stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path><path fill="none" d="M 0 237.5 L 0 171 L 0 266 L 0 247 L 0 171 L 0 237.5 L 0 261.25 L 0 213.75" visibility="visible" data-z-index="2" class="highcharts-tracker-line" stroke-linecap="round" stroke-linejoin="round" stroke="rgba(192,192,192,0.0001)" stroke-width="22"></path></g><g class="highcharts-markers highcharts-series-2 highcharts-line-series highcharts-color-2 highcharts-tracker" data-z-index="0.1" opacity="1" transform="translate(63,10) scale(1 1)"><path fill="#428bca" visibility="hidden" d="M 689 281.4166666666667 A 0 0 0 1 1 689 281.4166666666667 Z" class="highcharts-halo highcharts-color-2" data-z-index="-1" fill-opacity="0.25"></path><path fill="#428bca" d="M 683 275.4166666666667 L 695 275.4166666666667 L 695 287.4166666666667 L 683 287.4166666666667 Z" stroke="#ffffff" stroke-width="1" opacity="1" visibility="hidden"></path></g></g><text x="37" text-anchor="middle" class="highcharts-title" data-z-index="4" style="color:#333333;font-size:18px;fill:#333333;" y="24"></text><text x="37" text-anchor="middle" class="highcharts-subtitle" data-z-index="4" style="color:#666666;fill:#666666;" y="24"></text><text x="10" text-anchor="start" class="highcharts-caption" data-z-index="4" style="color:#666666;fill:#666666;" y="397"></text><g class="highcharts-legend" data-z-index="7" transform="translate(18,338)"><rect fill="none" class="highcharts-legend-box" rx="0" ry="0" x="0" y="0" width="37" height="47" visibility="visible"></rect><g data-z-index="1"><g><g class="highcharts-legend-item highcharts-line-series highcharts-color-0 highcharts-series-0" data-z-index="1" transform="translate(8,3)"><path fill="none" d="M 0 11 L 16 11" class="highcharts-graph" stroke="#25b799" stroke-width="2"></path><text x="21" style="color:#333333;cursor:pointer;font-size:12px;font-weight:bold;fill:#333333;" text-anchor="start" data-z-index="2" y="15"><tspan></tspan><title>Entregues</title></text></g><g class="highcharts-legend-item highcharts-line-series highcharts-color-1 highcharts-series-1" data-z-index="1" transform="translate(8,15)"><path fill="none" d="M 0 11 L 16 11" class="highcharts-graph" stroke="#d75452 " stroke-width="2"></path><text x="21" y="15" style="color:#333333;cursor:pointer;font-size:12px;font-weight:bold;fill:#333333;" text-anchor="start" data-z-index="2"><tspan></tspan><title>Bounces</title></text></g><g class="highcharts-legend-item highcharts-line-series highcharts-color-2 highcharts-series-2" data-z-index="1" transform="translate(8,27)"><path fill="none" d="M 0 11 L 16 11" class="highcharts-graph" stroke="#428bca" stroke-width="2"></path><text x="21" y="15" style="color:#333333;cursor:pointer;font-size:12px;font-weight:bold;fill:#333333;" text-anchor="start" data-z-index="2"><tspan></tspan><title>Aberturas</title></text></g></g></g></g><g class="highcharts-axis-labels highcharts-xaxis-labels" data-z-index="7"><text x="42.36329001522125" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="start" transform="translate(0,0) rotate(10 42.36329001522125 315)" y="315" opacity="1">20/05/2014</text><text x="42.36329001522125" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="start" transform="translate(0,0) rotate(10 42.36329001522125 315)" y="315" opacity="1">27/05/2014</text></g><g class="highcharts-axis-labels highcharts-yaxis-labels" data-z-index="7"><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="300" opacity="1">0</text><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="253" opacity="1"><tspan>1k</tspan></text><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="205" opacity="1"><tspan>2k</tspan></text><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="158" opacity="1"><tspan>3k</tspan></text><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="110" opacity="1"><tspan>4k</tspan></text><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="63" opacity="1"><tspan>5k</tspan></text><text x="48" style="color:#666666;cursor:default;font-size:11px;fill:#666666;" text-anchor="end" transform="translate(0,0)" y="15" opacity="1"><tspan>6k</tspan></text></g><g class="highcharts-label highcharts-tooltip highcharts-color-1" style="white-space:nowrap;pointer-events:none;" data-z-index="8" transform="translate(702,-9999)" opacity="0" visibility="hidden"><path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 97.5 0.5 C 100.5 0.5 100.5 0.5 100.5 3.5 L 100.5 41.5 C 100.5 44.5 100.5 44.5 97.5 44.5 L 55.5 44.5 L 49.5 50.5 L 43.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.049999999999999996" stroke-width="5" transform="translate(1, 1)"></path><path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 97.5 0.5 C 100.5 0.5 100.5 0.5 100.5 3.5 L 100.5 41.5 C 100.5 44.5 100.5 44.5 97.5 44.5 L 55.5 44.5 L 49.5 50.5 L 43.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.09999999999999999" stroke-width="3" transform="translate(1, 1)"></path><path fill="none" class="highcharts-label-box highcharts-tooltip-box highcharts-shadow" d="M 3.5 0.5 L 97.5 0.5 C 100.5 0.5 100.5 0.5 100.5 3.5 L 100.5 41.5 C 100.5 44.5 100.5 44.5 97.5 44.5 L 55.5 44.5 L 49.5 50.5 L 43.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#000000" stroke-opacity="0.15" stroke-width="1" transform="translate(1, 1)"></path><path fill="rgba(247,247,247,0.85)" class="highcharts-label-box highcharts-tooltip-box" d="M 3.5 0.5 L 97.5 0.5 C 100.5 0.5 100.5 0.5 100.5 3.5 L 100.5 41.5 C 100.5 44.5 100.5 44.5 97.5 44.5 L 55.5 44.5 L 49.5 50.5 L 43.5 44.5 L 3.5 44.5 C 0.5 44.5 0.5 44.5 0.5 41.5 L 0.5 3.5 C 0.5 0.5 0.5 0.5 3.5 0.5" stroke="#d75452 " stroke-width="1"></path></g></svg><div class="highcharts-label highcharts-tooltip highcharts-color-1" style="position: absolute; left: 702px; top: -9999px; opacity: 0; pointer-events: none; visibility: hidden;"><span data-z-index="1" style="position: absolute; font-family: &quot;Lucida Grande&quot;, &quot;Lucida Sans Unicode&quot;, Arial, Helvetica, sans-serif; font-size: 12px; white-space: nowrap; color: rgb(51, 51, 51); cursor: default; margin-left: 0px; margin-top: 0px; left: 8px; top: 8px;"><span style="font-size: 10px">26/05/2014</span><br><span style="color:#d75452 ">●</span> Bounces: <b>200</b><br></span></div></div></div>
</div>

<div class="ls-box ls-board-box">
  <header class="ls-info-header">
    <p class="ls-float-right ls-float-none-xs ls-small-info">Valido até <strong>01.05.2014</strong></p>
    <h2 class="ls-title-3">Consumo de envios</h2>
  </header>

  <div id="sending-stats" class="row ls-clearfix">
    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Contratado</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>1 <small>milhão</small></strong>
          </span>
        </div>
        <div class="ls-box-footer">
          <a href="#" class="ls-btn ls-btn-xs">Alterar plano</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Envios do plano</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong>0 <small>de 1 milhão</small></strong>
          </span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4">Envios Excedentes <a href="#" class="ls-ico-help" data-trigger="hover" data-ls-module="popover" data-placement="left" data-content="Isso permite que os envios não sejam interrompidos após atingir o limite do plano contratado." data-title="O uso de envios excedentes está ativado!" data-target="#ls-popover-1"></a></h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data ls-transparent-25">
            <strong>0 <small>de 1 milhão</small></strong>
          </span>
        </div>
        <div class="ls-box-footer">
          <a href="#" class="ls-btn ls-btn-xs">Ativar</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <div class="ls-box">
        <div class="ls-box-head">
          <h6 class="ls-title-4 color-default">Total de envios utilizados</h6>
        </div>
        <div class="ls-box-body">
          <span class="ls-board-data">
            <strong class="ls-color-theme">81%</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
  <br>
  <p class="ls-txt-right">Status anti-fraude: <strong class="ls-color-success">Aprovado</strong> <span style="clear: both;" class="ls-ico-help anti-fraud-pop" data-trigger="hover" data-ls-module="popover" data-placement="left" data-custom-class="ls-width-300" data-title="Sua conta está &quot;Aprovada&quot;!" data-content="Status antifraude é uma verificação do comportamento de envio da conta." data-target="#ls-popover-2"></span></p>
</div>

<div id="changePassword" class="ls-modal fade">
  <div class="ls-modal-box">
    <div class="ls-modal-content">
      <div class="ls-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="title_change_pass">Alteração de senha</h3>
      </div>
      <form action="#" class="ls-form ls-form-inline validate">
        <div class="ls-modal-body">
          <div class="ls-alert ls-alert-warning" role="alert">
            <p>Ao alterar a senha, <strong>lembre-se que todas as aplicações</strong> que utilizam a autenticação deste SMTP deverão ser alteradas, caso contrário os envios serão interrompidos.</p>
          </div>
          <label class="ls-label">
            <b class="ls-label-text">Nova senha</b>
            <input class="password auto-focus required" type="password">
            <p>Senha entre 8 a 14 caracteres, contendo letras e números</p>
          </label>
        </div>
        <div class="ls-modal-footer">
          <button class="ls-btn-default ls-float-right" type="button" data-dismiss="modal">Cancelar</button>
          <input class="ls-btn-primary" name="commit" type="submit" value="Confirmar">
        </div>
      </form>
    </div>
  </div>
</div>



    </div>

    <footer class="ls-footer" role="contentinfo">
  <nav class="ls-footer-menu">
      <h2 class="ls-title-footer">suporte e ajuda</h2>
      <ul class="ls-footer-list">
        <li>
          <a href="#" target="_blank" class="bg-customer-support">
            <span class="visible-lg">Atendimento</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="bg-my-tickets">
            <span class="visible-lg">Meus Chamados</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="bg-help-desk">
            <span class="visible-lg">Central de Ajuda (Wiki)</span>
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="bg-statusblog">
            <span class="visible-lg">Statusblog</span>
          </a>
        </li>
      </ul>
    </nav>
    <div class="ls-footer-info">
      <span class="last-access ls-ico-screen"><strong>Último acesso: </strong>99/99/9999 99:99:99</span>
      <div class="set-ip"><strong>IP:</strong> 000.00.00.000</div>
      <p class="ls-copy-right">Copyright © 1997-2017 Serviços de Internet S/A.</p>
    </div>
    </footer>

    </main>
    <!-- FIM MAIN -->

    <%= yield %>

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="http://assets.locaweb.com.br/locastyle/3.10.1/javascripts/locastyle.js" type="text/javascript"></script>
    <script src="//code.highcharts.com/highcharts.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(window).on('load', function() {
        locastyle.browserUnsupportedBar.init();
      });
    </script>
  </body>
</html>
